<div class="currency fixed-height">
  <div class="title">{{ 'Peso Argentino' }}</div>
  <ng-container *ngIf="arsValue !== null && arsValue !== undefined && isNumericValue(arsValue)">
    <app-number-format class="value" [ngStyle]="{'color': getCurrencyColor(arsValue)}" [value]="arsValue"></app-number-format>
    <div class="info" >
      <div class="variation" *ngIf="arsValue !== null || !arsValue">
        <div class="tit">Variação (%)</div>
        <span class="var">{{ formatNumberWithComma(arsVariation) }}</span>
      </div>
      <div class="last-update" *ngIf="arsValue !== null || !arsValue">
        <div class="tit">Atualizado</div>
        <span class="atual">{{ arsLastUpdate | date: 'HH:mm:ss' }}</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="arsValue === null || !arsValue">
    <div class="msg-erro"  *ngIf="!loading">
      <span class="error">Algo deu errado</span>
      <button class="reload-button" (click)="reloadPage()">
        <span>Recarregar</span>
      </button>
    </div>
    <img *ngIf="loading" src="../../assets/loader.svg" alt="Loader">
  </ng-container>
</div>
    
  
