<div class="currency fixed-height">
  <div class="title">{{ 'Dólar Canadense' }}</div>
  <ng-container *ngIf="cadValue !== null && cadValue !== undefined && isNumericValue(cadValue)">
    <app-number-format class="value" [ngStyle]="{'color': getCurrencyColor(cadValue)}" [value]="cadValue"></app-number-format>
    <div class="info">
      <div class="variation" *ngIf="cadValue !== null || !cadValue">
        <div class="tit">Variação (%)</div>
        <span class="var">{{ formatNumberWithComma(cadVariation) }}</span>
      </div>
      <div class="last-update" *ngIf="cadValue !== null || !cadValue">
        <div class="tit">Atualizado</div>
        <span class="atual">{{ cadLastUpdate | date: 'HH:mm:ss' }}</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="cadValue === null || !cadValue">
    <div class="msg-erro" *ngIf="!loading">
      <span class="error">Algo deu errado</span>
      <button  class="reload-button" (click)="reloadPage()">
        <span>Recarregar</span>
      </button>
    </div>
    <img *ngIf="loading" src="../../assets/loader.svg" alt="Loader">
  </ng-container>
  
</div>
